* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  list-style: none; }

html, body {
  overflow-x: hidden; }

.container {
  width: 100%;
  max-width: 1200px;
  border: 1px solid gray;
  margin: 0 auto; }

header {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  height: 118px;
  max-width: 1200px;
  transform: translateX(-50%);
  background-color: red;
  z-index: 99999; }

footer {
  height: 50px;
  background-color: green; }

section {
  margin-top: 118px; }
  section .part-scroll {
    font-size: 50px;
    height: 500px;
    background-color: pink; }
  section .pin-box {
    background-image: url("../image/bg.jpg");
    background-repeat: no-repeat;
    transition: background 1s ease; }
    section .pin-box.pos0 {
      background-position: 0% 0%;
      background-size: 420%; }
    section .pin-box.pos1 {
      background-position: 95% 1%;
      background-size: 200%; }
    section .pin-box.pos2 {
      background-position: 5% 50%;
      background-size: 260%; }
  section .swiper-container {
    width: 45%;
    height: calc(100vh - 118px);
    margin-left: 55%; }
    section .swiper-container .swiper-wrapper .swiper-slide {
      font-size: 50px;
      background-color: rgba(255, 255, 255, 0.5); }
